*{
    margin: 0px;
    padding: 0px;
}

.color-primary-0 { color: #779FCB }	/* Main Primary color */
.color-primary-1 { color: #D6E6F7 }
.color-primary-2 { color: #A5C3E4 }
.color-primary-3 { color: #507CAD }
.color-primary-4 { color: #346295 }

.color-complement-0 { color: #FFD28C }	/* Main Complement color */
.color-complement-1 { color: #FFF1DB }
.color-complement-2 { color: #FFE1B2 }
.color-complement-3 { color: #FFC46A }
.color-complement-4 { color: #E4A544 }

.rgba-primary-0 { color: rgba(119,159,203,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(214,230,247,1) }
.rgba-primary-2 { color: rgba(165,195,228,1) }
.rgba-primary-3 { color: rgba( 80,124,173,1) }
.rgba-primary-4 { color: rgba( 52, 98,149,1) }

.rgba-complement-0 { color: rgba(255,210,140,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(255,241,219,1) }
.rgba-complement-2 { color: rgba(255,225,178,1) }
.rgba-complement-3 { color: rgba(255,196,106,1) }
.rgba-complement-4 { color: rgba(228,165, 68,1) }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.link{text-decoration:none; color: #D6E6F7;}


.box_header{
    height: 150px;
    width: 100%;
}
.box_nav{
	height: 100px;
	width: 100%;
	position: fixed;
	 background-color: #779FCB;
	box-shadow: 0 8px 6px -6px black;

}
.box_title{
	font-family: 'Lobster' ;
	font-size: 30px;
	color: #D6E6F7;
	
    height: 100px;
    width: 90%;
    margin-top: 0px;
    padding:30px;
    float:left;
    position: fixed;
}

.box_login{
	padding-top:40px;
	height: 100px;
	width: 10%;
	margin-left: 90%;
	float:left;
	position: fixed;
}
.box_login_1{
	
	padding-top:20px;
	float:left;
}
.box_login_2{
	float:left;
}
.box_menu_1{
	height: 100px;
    width: 15%;
}
.box_menu_element_1{
	height: 25px;
    width: 10%;
    float:left;
    padding-top:20px;
    padding-left:20px;
    color:white;
    border-width: 1px;
    margin-left:10%;
    border-right-style: solid;
    border-right-color: #ffffff;
    border-left-style: solid;
    border-left-color: #ffffff;
}
.box_menu_element_2{
	height: 25px;
    width: 10%;
    float:left;
    padding-top:20px;
    padding-left:20px;
    color:white;
    border-width: 1px;
    
    border-right-style: solid;
    border-right-color: #ffffff;

}
.box_menu_2{
	
   	border-style: solid;
   	border-width: 1px;
	height: 48px;
    width: 100%;
    background-color: #507CAD;
}


.box_body{
  
    width: 100%;
    background-color: rgba(243,243,243,1);
}
.box_content{
	height: 550px;
    width: 80%;
    margin-left: 10%;
    background-color: #ffffff;
    box-shadow:  1px 2px 11px 0px rgba(0,0,0,0.75);
    
}

.box_colum{
	padding:3%;
	height: 500px;
	width: 44%;
	float:left;
}
.text_1{
	text-align: justify;
}
.box_login_3{
	margin-left:30%;
	padding-top:100px;
}
.table_1{
	padding:10px;
	text-align: right;
}
.table_2{
	background-color:#779FCB;
	text-align: center;
	padding:10px;
}
.input_text_1{
	height: 30px;
	width: 200px;
	background-color: #ffffff;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-color:black;
	padding-left:10px;
}
.buton_1{
	background-color: #D6E6F7;
	border-radius: 5px;
	border-color:black;
	height: 30px;
	width: 200px;
}
.box_footer{
    height: 100px;
    width: 100%;
    background-color: #779ECB;
   	border-width: 1px;
    border-style: solid;
	margin-bottom:0px;
}

.box_info_1{
	margin-left:40%;
	
	 width: 20%;
	 text-align: center;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}





