*{
    margin: 0px;
    padding: 0px;
}
.box_header{
    height: 100px;
    width: 100%;
}
.box_title{
    height: 50px;
    width: 100%;
    margin-top: 0px;
    padding:10px;
    position: fixed;
    
}
.box_nav_1{
    height: 50px;
    width: 100%;
    margin-top: 50px;
    position: fixed;
    background-color: #779ECB;
}
.box_login_1{
	padding:10px;
	margin-left: 90%;
}
.box_login_2{
	padding-top:10px;
	float:left;
}
.box_login_3{
	
	float:left;
}
.box_nav_2{
    height: 50px;
    width: 100%;
    margin-top: 0px;
    position: fixed;
    background-color: #779ECB;
}
.box_body{
    height: 450px;
    width: 100%;
    
}
.box_footer{
    height: 100px;
    width: 100%;
    background-color: #779ECB;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }