{%load staticfiles%}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/script.js" ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>S-AGE-Estimate</title>
</head>

<body>
	
	<div id="header" class="box_header"> 
		<div id="title" class="box_title"><h1>S-AGE-Estimate</h1></div>
		<div id="nav" class="box_nav_1"> 
			<div class="box_login_1">
				<div class="box_login_2">
					<a href="/login">
						Login
					</a>
				</div>
				<div class="box_login_3">
					<a href="/login">
						<i class="material-icons md-36 md-dark ">person</i> 
					</a>
				</div>

		 	</div> 
		 </div>
	</div>
	<div id="body" class="box_body">
		<h1>login</h1>
	</div>
	<div id="footer" class="box_footer"></div>

	
</body>

</html>
