{%load staticfiles%}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/script.js" ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>S-AGE-Estimate</title>
</head>

<body>
	
	<div id="header" class="box_header"> 
	<div id="title" class="box_title"><h1>Hola mundo</h1></div>
	<div id="nav" class="box_nav_1"></div>
	 </div>
	<div id="body" class="box_body"></div>
	<div id="footer" class="box_footer"></div>

	
</body>

</html>
